{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>{% block title endblock %}</title>
</head>
<body>
    <header>
        <img src='{% static "imagenes/logo.jpg" %}' alt="">
        <nav>
            <ul>
                <li><a href="{%  url 'Bogota' %}">BOGOTÁ</a></li>
                <li><a href="{%  url 'Barranquilla' %}">BARRANQUILLA</a></li>
                <li><a href="{%  url 'Cali' %}">CALI</a></li>
                <li><a href="{%  url 'Cartagena' %}">CARTAGENA</a></li>
         
            </ul>
        </nav>
    </header>
</body>
</html>